form {
    font-family: "helvetica";
    margin-top: 100px;
    width: 400px;
    text-align: center;
    margin: auto;
}

input {
    border: solid 1px black;
    border-radius: 5px;
    width: 200px;
    float: right;
    padding: 2px;
    display: block;
    margin: 2px;
}

label {
    float: left;
    width: 100px;
    display: block;
}

input[type=submit] {
    background-color: green;
    text-align: center;
    font-weight: bold;
    width: 400px;
}

input:focus {
    border: solid 2px blue;
}